*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul,
body {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  /* font-size: 1.6rem; */
  color: #1c1d1f;
}
img {
  max-width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: white; */
  height: 70px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
nav img {
  width: 100px;
}
nav p {
  font-weight: 400;
  font-size: 0.8em;
}
/* nav input {
  border-radius: 2em;
  padding: 1.3em 2.5em;
  width: 40%;
  border: 1px solid #1c1d1f;
  background-color: #f7f9fa;
  margin: 0 1.2rem;
} */
.input-container {
  display: flex;
  width: 50%;
  /* padding: 1.3em;  */
  /* margin-bottom: 15px; */
  border: 1px solid #1c1d1f;
  border-radius: 2em;
  background-color: #f7f9fa;
}
.search-icon {
  padding: 1em 1.5em;
  /* min-width: 50px; */
  text-align: center;
}
.input-field {
  width: 70%;
  padding: 1.2em 1.5em;
  outline: none;
  border-style: none;
  background-color: #f7f9fa;
  border-radius: 2em;
}
.fa-cart-shopping {
  font-size: 1em;
}
nav button {
  border: 1px solid #1c1d1f;
  padding: 0.7em 1em;
}
.sign-up {
  background: black;
  color: white;
}
.hero-image {
  padding: 0 2em;
  position: relative;
}
.hero-card {
  background: white;
  /* border: 1px solid black; */
  padding: 1.5em 2em;
  font-size: 1em;
  width: 30%;
  position: absolute;
  top: 60px;
  left: 110px;
  text-transform: capitalize;

  /* right: -10px; */
}
h2 {
  font-size: 2.5em;
  font-weight: 500;
  padding: 0 0.8em;
}
.courses {
  padding: 2em;
}
.courses > p {
  padding: 0.5em 2em;
  font-size: 1em;
}
.courses-list {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}
.courses-list li {
  font-weight: 200;
  cursor: pointer;
  padding: 0 1em;
}
.courses-list li:active,
.courses-list li:focus {
  font-weight: bolder;
}
/* COURSE DETAILS */
.course-details {
  border: 1px solid grey;
  padding: 1.5em 0;
  margin: 0 1.6em;
}
.course-details > p {
  width: 75%;
  padding: 0.5em 1.8em 1.2em 1.8em;
  /* color: grey; */
  font-weight: 500;
}
.available-courses {
  display: flex;
  padding-top: 2em;
  /* justify-content: space-around; */
}
.available-course {
  padding: 1em 2em;
}
.available-course > h3,
.views > h3 {
  font-size: 1em;
}
.available-course > p,
.views > p {
  font-size: 0.8em;
  font-weight: 200;
}
.fa-star,
.fa-star-half-stroke,
.star-color {
  color: rgb(255, 174, 0);
  font-size: 0.5em;
}
.small {
  font-size: 0.5em;
  font-weight: 300;
  color: #1c1d1f;
}
.stroke-thru {
  text-decoration: line-through;
  font-weight: 300;
}
.python {
  border: 1px solid black;
  padding: 1em;
  text-decoration: none;
  margin: 0 2em;
  color: #1c1d1f;
  font-weight: bolder;
  font-size: 0.8em;
}

/* VIEWINGS */
.viewing {
  padding: 2em;
}
.views-wrapper {
  display: flex;
  padding: 2em 0;
}
.views {
  padding: 1em;
}
.views img {
  width: 100px;
  border: 2px solid yellow;
  /* height: 100%; */
}
.bestseller {
  background: yellow;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 0.5em;
}

/* FEATURED */
.featured {
  background: rgb(244, 247, 249);
  padding: 2em;
}
.feature-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}
.trends {
  padding: 1em;
  /* margin: 1em; */
}
.explore {
  padding: 1em 0.5em;
  font-weight: bolder;
}

/* INSTRUTOR */
.instructor {
  padding: 2em;
}
.instructor-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.instructor-details {
  width: 30%;
  line-height: 1.5;
}
.instructor-details > h3 {
  font-size: 2em;
}
.teach {
  padding: 1em;
  background: black;
  color: white;
  cursor: pointer;
  border: none;
}

/* PARTNERS */
.partners {
  text-align: center;
  background: rgb(244, 247, 249);
  padding: 2em;
}
.partners-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}

/* BUSINESS */
.business {
  padding: 2em;
}
.business-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.business-text > img {
  width: 200px;
}
.business-text {
  width: 30%;
  line-height: 1.5;
}
.business-text > h3 {
  font-size: 3em;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  padding: 2em;
}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-size: .7em; */
  /* justify-content: space-around; */
}
.language {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  border: 1px solid white;
  width: 100px;
  padding: 1em;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-list ul {
  margin: 2em;
}
.udemy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.udemy > img {
  width: 100px;
  color: white;
}
